x64
*.tlog
*.obj
*.log
*.exe
/.vs
/src/x64/Debug
/x64/Debug
html
latex
docs
!docs/html/.nojekyll
x64/Debug/shanks_transformation.exe
src/x64/Debug/vc143.pdb
src/x64/Debug/vc143.idb
src/x64/Debug/test_framework.h.obj
src/x64/Debug/test_framework.h.ifc
src/x64/Debug/shanks_transformation.log
src/x64/Debug/shanks_transformation.ilk
src/x64/Debug/shanks_t.94bab632.tlog/CL.write.1.tlog
src/x64/Debug/shanks_t.94bab632.tlog/CL.read.1.tlog
src/x64/Debug/shanks_t.94bab632.tlog/CL.command.1.tlog
src/x64/Debug/main.obj
src/x64/Debug/shanks_t.94bab632.tlog/CL.read.1.tlog
x64/Debug/shanks_transformation.exe
x64/Debug/shanks_transformation.exe
src/x64/Debug/vc143.pdb
src/x64/Debug/vc143.idb
src/x64/Debug/test_framework.h.obj
src/x64/Debug/test_framework.h.ifc
src/x64/Debug/shanks_transformation.log
src/x64/Debug/shanks_transformation.ilk
src/x64/Debug/shanks_t.94bab632.tlog/link.write.1.tlog
src/x64/Debug/shanks_t.94bab632.tlog/link.read.1.tlog
src/x64/Debug/shanks_t.94bab632.tlog/link.command.1.tlog
src/x64/Debug/main.obj
src/x64/Debug/shanks_transformation.ilk
x64/Debug/shanks_transformation.exe
*.tlog
*.ilk
*.log
*.exe
*.tlog
/cmake-build-debug/
/.idea/.gitignore
/.idea/editor.xml
/.idea/misc.xml
/.idea/modules.xml
/.idea/shanks-university.iml
/.idea/vcs.xml
