x64
*.tlog
*.obj
*.log
*.exe
/.vs*
/shanks_transformation/x64/Debug
/x64/Debug
html
latex
docs
!docs/html/.nojekyll
/x64/*
/shanks_transformation/x64/*
/shanks_transformation/build/*
/shanks_transformation/output.txt
/shanks_transformation/plot.png
/venv/*