annotated-types==0.7.0 ; python_version >= "3.13"
colorama==0.4.6 ; python_version >= "3.13" and platform_system == "Windows"
dnspython==2.8.0 ; python_version >= "3.13"
dotenv==0.9.9 ; python_version >= "3.13"
pyarrow==22.0.0 ; python_version >= "3.13"
pydantic-core==2.41.5 ; python_version >= "3.13"
pydantic==2.12.4 ; python_version >= "3.13"
pymongo==4.15.3 ; python_version >= "3.13"
python-dotenv==1.1.1 ; python_version >= "3.13"
pyyaml==6.0.3 ; python_version >= "3.13"
tqdm==4.67.1 ; python_version >= "3.13"
typing-extensions==4.15.0 ; python_version >= "3.13"
typing-inspection==0.4.2 ; python_version >= "3.13"
